.content_avatar {
    margin: 10px 0;
    height: 120px;
    display: flex;
    flex-direction: row;
}
  
.content_avatar img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.content_avatar_descr {
    display: inline-block;
    height: 120px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.content_avatar_descr h2 {
    margin-top: 0;
    color: #149AC9;
}

.content_avatar_descr h2 span {
    color: #413E3E;
}

.content_avatar_descr h4 {
    margin: 0;
}

.content_avatar_descr h4 span {
    font-weight: normal;
}