.dialogs {
    display: grid;

    grid-template-columns: 3fr 9fr;
}

.dialogsList {
    padding: 10px;
    border-right: #6d6e71 solid 1px;
    height: 600px;
}

.messages {
    display: grid;

    grid-template-areas:
    'message'
    'form';
    grid-template-rows: 10fr 2fr;

    height: 600px;
    padding: 15px;
}

.messageList {
    grid-area: message;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    overflow: auto;
    height: 500px;
    width: 500px;
}